 html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

a {
    color: #333;
    text-decoration: none;
}

body {
    background: #161616;
    color: #fff;
    font-family: 'Telex', sans-serif;
}

.icon-404 {
    margin: 0 auto;
    max-width: 200px;
}
.icon-404 > i {
    font-size: 120px;
    margin-bottom: 10px;
}
#hamburger {
    background: center center no-repeat transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFW…FBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC);
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 20px;
}
.header {
    background-color: #A2A2A2;
}
.hamburger-label {
    position: relative;
    top: -4px;
    left: 5px;
    font-size: 22px;
}
.about-me {
    padding: 40px 0;
}
.first-title {
    font-size: 54px;
}
.face-img {
    border-radius: 15px;
}
.second {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
    background-color: #586d79;
    height: 200px;
}
